@page "/basics"
@using DagtrainingStudenten.Entities


<EditForm Model="NewWuppie" OnValidSubmit="AddWuppie">
	<DataAnnotationsValidator />

	<ValidationSummary />

	<ol>
		<li>
			<label for="input-name">Naam:</label>
			<InputText @bind-Value="NewWuppie.Name" id="input-name" />
			<ValidationMessage For="@(() => NewWuppie.Name)" />
		</li>
		<li>
			<label for="input-color">Kleur:</label>
			<InputText @bind-Value="NewWuppie.Color" id="input-color" />
			<ValidationMessage For="@(() => NewWuppie.Color)" />
		</li>
		<li>
			<label for="input-photo-url">Foto URL:</label>
			<InputText @bind-Value="NewWuppie.PhotoUrl" id="input-photo-url" />
			<ValidationMessage For="@(() => NewWuppie.PhotoUrl)" />
		</li>
		<li>
			<button>Voeg wuppie toe</button>
		</li>
	</ol>

	naam: @NewWuppie.Name<br>
	kleur: @NewWuppie.Color<br>
	url: @NewWuppie.PhotoUrl

</EditForm>

@if (Wuppies == null || Wuppies.Count == 0)
{
	<Loading Message="Ik ben druk bezig met wuppies ophalen..." />

}
else
{
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Wuppie</th>
				<th>Kleur</th>
				<th>Foto</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var wuppie in Wuppies)
			{
				<tr class="@(wuppie.Color == "Orange" ? "orange" : "")">
					<td>@wuppie.Id</td>
					<td>@wuppie.Name</td>
					<td>@wuppie.Color</td>
					<td><img src="@wuppie.PhotoUrl"></td>
				</tr>
			}
		</tbody>
	</table>
}