@page "/components"


<h2>Components</h2>

<Loading Message="Ik ben druk bezig met rekenen..." />
<Loading Message="Ik ben druk bezig met data ophalen..." />
<Loading Message="Ik ben druk bezig met klanten te verwerken..." />


<Autocompleter Data="Wuppies" OnSelect="HandleSelect" Context="suggestion">
	<ItemTemplate>
		<li class="@(suggestion.IsHighlighted ? "highlight" : "")">@suggestion.Item.Name is @suggestion.Item.Color</li>
	</ItemTemplate>
</Autocompleter>

@if (ShowConfirmDelete)
{
	<Modal Title="Bevestig verwijderen" Item="WuppieToDelete" Context="wuppie" OnOk="Ok" OnCancel="Cancel">
		<BodyTemplate>
			Weet u zeker dat u @wuppie.Name wenst te verwijderen?
		</BodyTemplate>
	</Modal>
}

<ul>
	@foreach (var wuppie in Wuppies)
	{
		<li>@wuppie.Name is @wuppie.Color <button @onclick="@(() => ConfirmDelete(wuppie))">Verwijder</button> </li>
	}
</ul>